.dropdown-toggle {
    background-color: white;
    border: none;
    font-size: 14px;
    margin: 10px 0
}


.dropdown-menu {
    display: flex;
    flex-direction: column;
    margin: 10px 0
}


.dropdown {
    margin: 10px 0;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    width: 150px;
    margin: 15px 0
}

.dropdown-menu-option{
    color: grey;
    font-size: 12px;
    margin-left: 5px
}


.dropdown-menu label {
    display: flex;
    align-items: center;
    margin: 5px 0
}


@media (max-width: 768px) {
    .dropdown-toggle {
        margin: 0;
        font-size: 20px;
        padding: 10px;
        margin: 0 20px;
        
    }
    .dropdown {
        width: 100%;
        margin: 0;
        border-top: 1px solid lightgrey;
        border-bottom: none;
    }

    .filters-options {
        padding-left: 29px;
    }
    .filters-options p {
        color: black;
    }
    .filters-options input {
        accent-color: black;
    }
}