.dropdown-menu {
    display: flex;
}

input.price{
    width: 70px;
    height: 40px;
    outline: none;
    padding: 10px;
}

.dropdown {
    width: 180px
}

.dropdown-menu div {
    width: 90px;
}

.price-dropdown-menu-flex {
    display: flex;
}

.price-dropdown-menu-flex div {
    margin: 0 10px 10px 0;
}

input.range-input {
    accent-color: black;
    margin: 0 15px
}


.price-dropdown-menu-flex div {
    display: flex;
    align-items: flex-end;
}