.catalog-shoes {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 40px 0 0
}

div.catalog-shoes.catalog-shoes-fullscreen{
    margin-left: 60px;
}
img.shoes-img{
    width: 23.7vw
}

img.shoes-img.shoes-img-fullscreen{
    width: 30vw
}

.catalog-shoe {
    width: 23.7vw;
    margin: 0 5px 0 0;
    margin-bottom: 30px;
}

div.catalog-shoe.catalog-shoe-fullscreen {
    width: 30vw;
}


.catalog-shoe h1 {
    font-size: 16px;
}

.catalog-shoe p {
    font-size: 12px;
    color: rgb(107, 21, 21)
}

.catalog-shoe h1, .catalog-shoe p, .catalog-shoe a {
    margin: 10px 0
}

.catalog-shoe a {
    color: black;
    font-size: 12px;
}


.full-screen {
    width: 100%;
    height: calc(100vh - 100px);
  }
  
  .hidden {
    display: none;
  }
  


