.ShareStyle {
    margin: 0 60px;
}

.style-carousel {
    margin: 0 120px;
}

.style-prev {
    top: 150px;
    left: 50px;
}

.style-next {
    left: 50px;
    top: 118px;
}

@media (max-width: 768px) {
    .ShareStyle, .style-carousel {
        margin: 20px;
    }
}