.trending-carousel {
    display: flex;
}

.trending-img{
    width: 17.5vw;
}
.trending-banner{
    width: 17.5vw;
    margin: 0 3px
}

.Trending h1 {
    color: #1C1C1C;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.Trending {
    margin: 25px 0 30px 60px;
}


.trending-p-price {
    font-size: 10px;
    margin-top: 10px;
}
.trending-p-name {
    font-weight: 600;
    font-size: 13px;
}


.prev, .next {
    height: 30px;
    position: relative;
    bottom : 30px;
    right: 35px;
    border: none;
    background-color: white;
}


@media (max-width: 768px) {
    .Trending {
        margin: 20px;
    }
    .trending-p-name {
        font-size: 12px;
        width: 180px;
    }
    .trending-p-price {
        font-size: 14px;
    }
    .trending-img {
        width: 170px
    }

    .trending-banner {
        margin-right: 110px;
    }

    .prev, .next {
        display: none;
    }
    .mobile-low-banner {
        margin: 20px;
    }
}

